@font-face {
    font-family: 'Open Sans';
    src: url('./../../assets/fonts/OpenSans-Regular.ttf');
}

html{
    scroll-behavior: smooth;
}

body{
    color: rgba(1, 43, 89, 1);
    text-align: center;
    overflow-x: hidden;
    font-family: 'Open Sans';
}

body p {
    font-weight: 400;
    font-size: 16px;
}

.active{
   background-color:  rgba(252, 193, 26, 1);
}

nav li:hover{
   background-color: rgba(235, 176, 9, 1); 
}

nav li:active{
    background-color: rgba(255, 224, 136, 1);
 }