@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/Lato-Regular.ttf');
}

html{
    scroll-behavior: smooth;
}

body{
    color: rgba(1, 43, 89, 1);
    font-family: 'Lato';
    text-align: center;
    overflow-x: hidden;
}

body p {
    font-weight: 400;
    font-size: 16px;
}