header {
  background-image: url("../images/Hero-image-mountain-photoshoped.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1400px;
  position: relative;
}

.text1 {
  animation: fallFromTop 1s forwards; 
  opacity: 0; 
}

.text2 {
  animation: fallFromTop 1s forwards; 
  animation-delay: 0.1s; 
  opacity: 0; 
}

@keyframes fallFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav-background{
  background-color: rgba(155, 201, 215, 1);
  padding: 16px 12px 16px 12px;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  }
  
  .nav-background::before{
      content: "";
      position: absolute;
      bottom: -20%;
      right: 0;
      width: 100%;
      height: 120%;
      background: radial-gradient(circle at right, rgba(255, 255, 255, 0.5), transparent);
      z-index: -1; 
  }
  
  .nav-background ul{
      display: flex;
      flex-grow: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 24px;
  }

.hamburger-menu {
  padding: 16px 18px;
  display: none;
  cursor: pointer;
  z-index: 2500;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.hamburger-menu span {
  background-color: rgba(1, 43, 89, 1);
  height: 3px;
  width: 26px;
  display: block;
  transition: transform 0.3s ease-in-out;
  margin: 3px 0;
}

.hamburger-menu.open span:nth-child(1) {
  transform: rotate(45deg) translate(6px, 7px);
}
  
.hamburger-menu.open span:nth-child(2) {
    transform: rotate(-45deg) translate(-3px, 2px);
  }
  .hamburger-menu.open span:nth-child(3) {
    opacity: 0;
  }


  .hamburger-menu.close span:nth-child(1) {
    transform: rotate(0deg) translate(0, 0);
  }
  
  .hamburger-menu.close span:nth-child(2) {
    opacity: 1;
  }
  .hamburger-menu.close span:nth-child(3) {
    transform: rotate(0deg) translate(0, 0);
  }


nav {
  width: 100%;
  padding: 13px 0 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2000;
  transition: opacity 0.3s ease;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
}



ul li,
.links img,
.language img {
  cursor: pointer;
}

nav ul li {
  transition: transform 1s ease-in-out;
  display: inline-block;
  line-height: 24px;
  border-radius: 99px;
  transition: ease-in-out 0.1s;
  padding: 12px;
}



nav ul li:nth-child(6) {
  background-color: rgba(252, 193, 26, 1);
  font-weight: 700;
}

nav ul .socials{
  margin-left: 48px;
}

.socials li{
  padding: 4px 0;
  display: inline-block;
}

.socials li:nth-child(2){
  margin-left: 8px;
}

.socials li:nth-child(3){
  margin-left: 40px;
}

.links {
  display: flex;
  align-items: center;
  margin-left: 48px;
  gap: 12px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
}

.links.second {
  margin-top: 4px;
  gap: 0;
  margin-left: 0;
}

.links.second div {
  display: flex;
  align-items: center;
}

.links.second div a,
.links.second div img {
  display: inline-block;
}

.links.second div:nth-child(2),
.links.second div:nth-child(3) {
  margin-left: 80px;
}

.links.second div a {
  margin-left: 8px;
}

.links img {
  width: 28px;
  height: 28px;
}

.language img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}


header h1 {
  padding-top: 115px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 72px;
  line-height: 86.4px;
}

header p {
  padding: 0 16px;
  font-size: 24px;
  line-height: 33.6px;
  max-width: 980px;
  margin: 0 auto;
}

.reservation-wrapper {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

.reservation {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  border-radius: 99px;
  padding: 40px 80px 40px 80px;
}

.reservation h2 {
  color: rgba(252, 193, 26, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 43.2px;
}

@media (max-width: 1920px) {
  header {
    height: 1100px; /* Adjust height for smaller screens */
  }
}


@media (max-width: 1280px) {
  header {
    height: 947px; /* Adjust height for smaller screens */
  }
}


@media (max-width: 1025px) {
  .links.second {
    flex-direction: column;
    align-items: baseline;
  }
  .links.second div:nth-child(2),
  .links.second div:nth-child(3) {
    margin-left: 0;
  }
}



@media (max-width: 1203px) {
  nav ul .socials{
    margin-left: 12px;
    width: 160px;
  }

  nav ul {
    width: 0; 
  }
  .socials{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  header h1{
    padding-top: 80px;
  }

  .nav-background::before {
    display: none;
  }

  div.nav-background{
    display: none;
  }

  .hamburger-menu {
    display: block; 
  }


  nav {
    justify-content: flex-end;
    padding: 0;
    z-index: 1000; 
  }

   nav ul{
    background-color: rgba(151, 184, 195, 1);
    height: 100vh;
    width: 40%;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    transition: width 0.3s ease-in-out; 
  }

  nav ul {
    display: block;
  }

  nav ul.open{
    padding-top: 16px;
    width: 400px;
    transition: width 0.3s ease-in-out; 

  }

  nav ul.open li{
    margin-left: 16px;
  }

  nav ul.open li:nth-child(6){
    width: 180px;

  }


  nav ul li {
    display: block;
    width: 60%;
    text-align: left;
  }

}

@media (max-width: 650px) {
  header{
    height: 430px;
  }

  nav ul li:last-child {
    width: 65%;
  }

  nav ul.open{
    width: 250px;
    transition: width 0.3s ease-in-out; 
  }

  .reservation-wrapper{
    bottom: 17px;
  }

  header h1{
    padding-top: 18px;
    font-size: 24px;
    line-height: 28.8px;
  }

  header p{
    margin-top: 12px;
    font-size: 14px;
    line-height: 19.6px;
  }



  .reservation h2 {
    font-size: 16px;
    line-height: 19.2px;
  }
  .links.second a {
    font-size: 16px;
  }
  .links.second img:first-child {
    width: 12px;
    height: 12px;
  }

  .links.second img:nth-child(2) {
    width: 16px;
    height: 10px;
  }

  .reservation {
    padding: 8px 60px 8px 60px;
  }
}

@media (max-width: 480px) {
  header p{
    padding-top: 32pxpx;
  }
}

