header{
    background-image: url('../images/Hero-image-mountain-photoshoped.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 947px;
}

header nav {
    padding-top: 16px;
    display: flex;
    justify-content: center;
}

header ul li,.links img ,.language img{
    cursor: pointer;
}

header ul li{
display: inline-block;
padding: 12px;
line-height: 24px;
border-radius: 99px;
transition: ease-in-out 0.3s;
}

header ul li:last-child{
   background-color: rgba(252, 193, 26, 1);
}

header ul li:hover{
    background-color: rgba(193, 143, 1, 1);
}

header ul li:active{
background-color: rgba(255, 224, 136, 1);
}


.links{
    display: flex;
    align-items: center;
    margin-left: 48px;
    gap: 12px;
}

.links img{
    width: 28px;
    height: 28px;
}

.language img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.language{
    margin-left: 48px;
}



@media (max-width: 1000px) {
    header {
        height: 400px; /* Adjust height for smaller screens */
    }
}